<%- include('layouts/main-layout.ejs') %>
<%- include('./layouts/partials/navigation.ejs') %>

    <h1>An Error Occured</h1>
    <p>We're working on fixing this, sorry for the inconvenience.</p>

<%- include('layouts/partials/end.ejs') %>