<%- include('../layouts/main-layout.ejs') %>

    <main>
        <h1>My Products</h1>
        <% if (prod.length> 0) { %>
            <ul>
                <% for (let product of prod) { %>
                    <li>
                        <%=product.title %>
                    </li>
                    <% } %>
            </ul>
            <% } else { %>
                <h2>No products</h1>
                    <% } %>
    </main>

    <%- include('../layouts/partials/end.ejs') %>